[Unit]
Description=Survey6 Server Start
After=network.target
[Service]
Type=simple
User=root
ExecStart=/bin/bash -c 'python3 /usr/lib/python3/dist-packages/src/main/App.py'
[Install]
WantedBy=multi-user.target
