[Unit]
Description=Survey6 Server Start
After=network.target
[Service]
Type=simple
User=root
ExecStart=/bin/bash -c 'python3 /home/survey6/cnc-server/main/App.py'
[Install]
WantedBy=multi-user.target
